html, body{
width: 90%;
 margin: 20px auto;
 padding: 0;
 color: #404040;
 font-size: 100%;
font-family: 'Mukta', sans-serif;
}
body {
 background-color: #fcfbfb; 
}
h1 {
 font-size: 200%; 
 }
header h1{
font-family: 'Righteous', cursive;
}
h2 {
 font-size: 150%; 
 }
h3 {
 font-size: 100%; 
 }
p,ul,li,td {
 color: #404040;
 font-size: 15px;
 line-height:125%;
 }
a:link {
 color: #285eb5;
 text-decoration: underline;
 }
a:visited {
 color: #610b0b;
 }
a:hover {
 color: #9e2020;
 text-decoration: none;
}
a:active, a:focus {
 color: red;
}
img {
	width: 300px;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 7px;
	margin: 0 20px 0px 0;
}
.image-container{
	float: left;
}
figure{
	width: auto;
	margin: 0;
	float: left;
	
}
.image-container + figcaption {
  color: #787878;
}
blockquote, .villageois, .fermier{
	width: 45%;
	margin: 30px auto;
	font-size: 120%;
	padding: 30px;
	border-radius: 0 3px 3px 0;
	background-color: #f1f1f1; 
	font-style:italic;
}
.villageois{
	border-left: 3px solid #0f69b8;

}
.fermier{
	border-left: 3px solid #b75a0f;

}
header{
	border: 1px solid #e0e0e0;
	padding: 10px 30px;
	border-radius: 3px;
}
header p{
	border-left: 3px solid #e8c41d;
	background-color: #fcf3b8;
	padding: 30px;
}
.bien, .mal{
text-transform: uppercase;
}
.bien{
color: #1e8c08
}
.mal{
color: #b30e24
}
.villageois, .fermier{

}
li:first-of-type + li {
  color: red;
}
table
{
    border-collapse: collapse;
    margin: 10px 0;
}
td, th
{
    padding: 10px;
    border: 1px solid #d3d3d3;
}
th{
	background-color: #a1a1a1;
	color:#ffffff;
}
tr:nth-child(even){
	background-color: #e4e4e4;
}
tr:nth-child(odd){
	background-color: #ffffff;
}
.pice-bien, .pice-mal, .pice-chat{
	height: 18px;
	width: 18px;
	background-image: url("img/bien.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
	float: left;
	margin: 0 10px 0 10px;

}
.pice-mal{
	background-image: url("img/mal.png");
}
.pice-chat{
	background-image: url("img/chat.png");
}
header + p{
	margin-bottom: 0;
}
ul{
	border: 1px solid #e6e6e6;
	padding: 0;
	margin: 5px 0 15px 0;
	list-style: none;
	border-radius: 3px;
}
ul li{
	padding: 8px 0;	
}
ul > li:last-child {
	 font-weight: bold;
	 padding: 8px 0 8px 38px;
}
ul li:nth-child(even){
	background-color: #f0efeb;
}
.blocktext{
	height: auto;
	width: 100%;
	padding: 10px 0;
	float: left;
}
.blocktext p{
	margin-top: 0;
}